# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.production
.env.vercel

# Database
*.db
*.db-journal
prisma/*.db

# Build
dist/
build/

# Misc
.DS_Store
*.tsbuildinfo
.vercel
.env.deploy
